<?xml version="1.0" encoding="UTF-8" ?>
<pageDefinition xmlns="http://xmlns.oracle.com/adfm/uimodel" version="12.1.2.66.68" id="springboardPageDef"
                Package="demo.view.pageDefs">
  <parameters/>
  <executables>
    <variableIterator id="variables"/>
    <taskFlow id="deptstaskflowdefinition1"
              taskFlowId="/WEB-INF/depts-task-flow-definition.xml#depts-task-flow-definition" activation="deferred"
              xmlns="http://xmlns.oracle.com/adf/controller/binding"/>
    <taskFlow id="empstaskflowdefinition1" taskFlowId="/WEB-INF/emps-task-flow-definition.xml#emps-task-flow-definition"
              activation="deferred" xmlns="http://xmlns.oracle.com/adf/controller/binding"/>
  </executables>
  <bindings/>
</pageDefinition>
